{% extends 'base.html.twig' %}

{% block title %}Hello RestoController!{% endblock %}

{% block body %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <img src="{{ asset(resto.media.first.fileName) }}" width="500" height="500" alt="">
        </div>
        <div class="col-md-4">
            <p>Name: <span> {{ resto.name }}</span></p>
            <p>Description:<span> {{ resto.description }}</span></p>
        </div>
    </div>
</div>

{% endblock %}
